@font-face {
  font-family: "Kumbh Sans";
  src: url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap");
}

:root {
  
  /* Primary */
--blue600: hsl(185, 75%, 39%);
--navy950: hsl(229, 23%, 23%);
--gray500: hsl(227, 10%, 46%);

  /* Neutral */
--gray100: hsl(225, 10%, 92%);
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("bg-pattern-top.svg"), url("bg-pattern-bottom.svg");
  background-color: var(--blue600);
  font-family: "Kumbh Sans", sans serif;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.wrapper {
  width: 26.25rem;
  height: 60rem;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  margin: 1rem;
}

.header {
  object-fit: contain;
  max-width: 26.25rem;
}

.content img {
  border-radius: 50%;
  border: 4px solid white;
  width: 6.25rem;
  height: 6.25rem;
  margin-top: -3.25rem;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stack1 {
  display: flex;
  flex-direction: column;
}

.stack2 {
  display: flex;
  flex-direction: column;
}

.stack3 {
  display: flex;
  flex-direction: column;
}
